body
{
    background-color: #f5f5f5;
}
.container
{
    width:650px;
    margin-left:80px;
}

h1
{
    text-align:left;
    margin-bottom:15px;
}
form{
    width: 90%;
    padding:25px;
    background-color: rgba(212, 211, 211, 0.965);
}


table
{
    width: 30%;
}

*{
    text-align: left;
    color: rgb(9, 9, 9);
}
textarea
{
 width: 400px;
}

button
{ 
    display: block;
    margin: 20px auto;
    padding:10px 50px;
    border:none;
    background-color: #2f4f3e;
    color: white;

}